body{
    background-color: #3E5166;
}

header img{
    width: 80px;
    height: 80px;
}

nav li{
    list-style: none;

}


nav a{
    text-decoration: none;
     align-self: flex-end; /*  baja solo el nav */
}


.principal{
    display: flex;
    background-color: black;
    color: aliceblue;
    padding: 0.5rem;
    gap: 10px;

}

header{
    display: flex;
    background-color: black;
    -webkit-text-fill-color: aliceblue;

}
header nav ul{
    display: flex;
    gap: 40px;
    margin-top: 9%; /* empuja el ul hacia abajo */
    padding-left: 20rem; /* mover el ul hacia la izquierda pa centrarlo */
    font-size: 1.2rem;
}

section img{
    width: 100%;
    height: 40vh;       /* el alto de la pantalla */
    overflow: hidden;   /* oculta lo que sobresalga */
}


.introducci贸n {
    position: relative;
    width: 1300px;   /* tama帽o del c铆rculo */
    height: 1300px;
    margin: 50px auto;
}

.introducci贸n img {
    position: absolute;
    width: 350px;      /* tama帽o de cada imagen */
    height: 350px;
    object-fit: cover;
    border-radius: 10px; /* opcional */
}

/* Posiciones alrededor del c铆rculo */
.introducci贸n img:nth-child(1) {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.introducci贸n img:nth-child(2) {
    top: 25%;
    left: 90%;
    transform: translate(-50%, -50%);
}

.introducci贸n img:nth-child(3) {
    top: 75%;
    left: 90%;
    transform: translate(-50%, -50%);
}

.introducci贸n img:nth-child(4) {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.introducci贸n img:nth-child(5) {
    top: 75%;
    left: 10%;
    transform: translate(-50%, -50%);
}

.introducci贸n img:nth-child(6) {
    top: 75%;
    left: 10%;
    transform: translate(-50%, -235%);
}

.introducci贸n h2:nth-child(7) {
    top: 75%;
    left: 10%;
    transform: translate(37.5%, 2200%);
    color: aliceblue;
}

.introducci贸n p:nth-child(8) {
    top: 75%;
    left: 10%;
    transform: translate(0%, 1100%);
    color: aliceblue;
}